<ion-content padding color="dark">
  <ion-grid fixed>
    <ion-col>
      <form [formGroup]="formLogin" (ngSubmit)="login()" novalidate>
        <ion-list inset>
          <ion-item>
            <ion-icon name="at" slot="start"></ion-icon>
            <ion-input #email type="email" placeholder="Email" formControlName="email" requiered></ion-input>
            <ion-icon *ngIf="formLogin.controls.email.touched && !formLogin.controls.email.valid" name="warning" slot="end"
              color="warning"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon name="key" slot="start"></ion-icon>
            <ion-input type="password" placeholder="Password" formControlName="password" requiered></ion-input>
            <ion-icon *ngIf="formLogin.controls.password.touched && !formLogin.controls.password.valid" name="warning"
              slot="end" color="warning"></ion-icon>
          </ion-item>
            <ion-button expand="block" type="submit" [disabled]="!formLogin.valid">Login</ion-button>
        </ion-list>
      </form>
    </ion-col>
  </ion-grid>
</ion-content>